body {
    background-color: #f3f3f8; /* Cor de fundo da página */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

header {
    background-color: #5C3A93; /* Cor de fundo do cabeçalho */
    color: #f2f2f2; /* Cor do texto do cabeçalho */
    padding: 20px; /* Adiciona espaço interno ao redor do cabeçalho */
    text-align: center; /* Centraliza o texto */
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    background-color: #f3f3f8; /* Cor de fundo da tabela */
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 150px;
}

th {
    background-color: #96A1FF;
    color: #000000;
}



input[type="text"], input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 10px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-color: #96A1FF;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 600px; /* Defina a largura desejada para o contêiner dos botões */
    margin-left: auto; /* Centraliza os botões */
    margin-right: auto; /* Centraliza os botões */
}

.btn {
    background-color: #5C3A93; /* Cor de fundo dos botões */
    color: white; /* Cor do texto dos botões */
    padding: 10px 20px;
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    display: block;
    transition: background-color 0.3s; /* Adiciona uma transição suave na cor de fundo ao passar o mouse */
}

.btn:hover {
    background-color: #6D4CA9; /* Cor de fundo ao passar o mouse */
}
